@use '@/assets/main.scss' as *;

.custom {
  &-content {
    width: 100%;
    margin: 0 auto;
  }

  &-pizza {
    &__title {
      color: $primary;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__section {
      margin-bottom: 2rem;
      & p {
        margin-bottom: 1rem;
        color: black;
        font-weight: $font-weight-bold;
        font-size: 1rem;
      }
    }
  }
}

.custome-size {
  &__option {
    display: flex;
    align-items: center;
    color: black;
    gap: 1rem;
    margin-left: 0.5rem;

    @media (max-width: 768px) {
      gap: 0;
    }
  }
}

.custom-radio {
  &-label {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0rem 0rem 0rem 2.5rem;
    cursor: pointer;
    user-select: none;
    transform: translateX(-1rem);
    transition: all 0.3s ease;

    input:checked ~ & {
      border-color: $primary;
      background-color: rgba($primary, 0.1);
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkmark {
  position: absolute;
  left: 0.5rem;
  height: 20px;
  width: 20px;
  background: white;
  border: 2px solid $secondary;
  border-radius: 50%;
  transition: all 0.3s ease;

  &:after {
    content: '';
    position: absolute;
    display: none;
    top: 3.5px;
    left: 3.5px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: $primary;
  }
}

.custom-radio-label {
  input:checked ~ .checkmark {
    border-color: $primary;

    &:after {
      display: block;
    }
  }
}

.custom-toppings {
  &__grid {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 1rem;
    overflow-x: hidden;

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 0.5rem;
    }

    @media (max-width: 480px) {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
  }
}

.custom-checkbox {
  &-label {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    border: 1px solid #e0e0e0;
    border-radius: $border-radius-full;
    cursor: pointer;
    transition: all 0.3s ease-in;
    background: white;
    color: black;

    &:hover {
      border-color: $primary;
      .custom-checkbox__text {
        transition: all 0.3s ease-in;
        color: $primary;
      }
    }

    &.is-selected {
      border-color: $primary;
      background-color: rgba($primary, 0.05);

      .custom-checkbox__text {
        color: $primary;
      }
    }

    &.is-disabled {
      opacity: 0.5;
      cursor: not-allowed;
      border-color: $muted;
      background-color: #adacac;

      &:hover {
        border-color: $muted;
        .custom-checkbox__text {
          color: black;
        }
      }
    }
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__text {
    flex: 1;
    font-size: 0.75rem;
    font-weight: $font-weight-medium;
    text-align: center;
  }
}
