@use '@/assets/main.scss' as *;

.hero-wrapper {
  position: relative;
  background-image: url('@/assets/images/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $spacing-4 0;
  box-sizing: border-box;
  height: 100svh;

  & h1 {
    color: $primary;
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    padding: 0 $spacing-4;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }
}
